* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: linear-gradient(to bottom, red, rgb(27, 27, 27)) no-repeat fixed;
  text-align: center;
}

h1 {
  margin-top: 2rem;
  font-family: "Monofett", cursive;
  font-size: 7rem;
}

h5 {
  font-size: 3rem;
  margin-top: 3rem;
}

#score {
  margin: 1rem auto;
  font-size: 3rem;
  font-family: "Press Start 2P", cursive;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  margin: 3rem;
}

.button {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  background-color: rgb(126, 126, 126);
  border: 0.2rem black solid;
  margin: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 32px;
  cursor: pointer;
  pointer-events: none;
}

.button.active {
  background-color: green;
  border: 0.2rem white solid;
}

button {
  padding: 0.5rem 1rem;
  font-family: inherit;
}

#overlay {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 5px;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 40vw;
  min-height: 35vh;
  border-radius: 5px;
  border: 0.2rem solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scoreEnd {
  margin: 1rem auto;
  font-size: 3rem;
  font-family: "Press Start 2P", cursive;
}

#close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  border: none;
}
